<template>
  <div>
    <el-input v-model="data.s1" size="mini" style="width: 100px" />
    <el-input v-model="data.s2" size="mini" style="width: 100px" /> 
    <el-input v-model="data.s3" size="mini" style="width: 100px" /> 
    <el-input v-model="data.s4" size="mini" style="width: 100px" /> 
  </div>
</template>

<script>
export default {
  props: {
    data: { required: true, type: Object }
  },
  data() {
    return {}
  }
}
</script>
