<template>
  <div>
    <el-input v-model="light" />
    <virtual-list :size="28" :remain="20">
      <item v-for="(d, i) in Object.keys(heavy)" :data="heavy[d]" :key="i" />
    </virtual-list>
  </div>
</template>

<script>
import virtualList from "vue-virtual-scroll-list"
import item from "@/components/item.vue"

export default {
  components: { item, "virtual-list": virtualList },
  data() {
    const array = Array(2500)
      .fill()
      .map((v, i) => i)

    const heavy = array.reduce((accumulator, currentValue) => {
      return {
        ...accumulator,
        [`d${currentValue}`]: {
          s1: currentValue,
          s2: "",
          s3: "",
          s4: ""
        }
      }
    }, {})

    return {
      array,
      heavy,
      light: "キーボード入力が軽めです"
    }
  }
}
</script>
