<template>
  <div>
    <el-input v-model="light" />
    <el-input v-for="(d, i) in Object.keys(heavy)" v-model="heavy[d]" :key="i" />
  </div>
</template>

<script>
export default {
  data() {
    const array = Array(2500)
      .fill()
      .map((v, i) => i)

    const heavy = array.reduce((accumulator, currentValue) => {
      return { ...accumulator, [`d${currentValue}`]: currentValue }
    }, {})

    return {
      array,
      heavy,
      light: "キーボード入力が軽めです"
    }
  }
}
</script>
