<template>
  <div>
    <el-input v-model="light" />
    <div v-for="(d, i) in heavy" :key="d">
      <el-input v-model="heavy[i]" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    const heavy = Array(2000)
      .fill()
      .map((v, i) => i)

    return {
      heavy,
      light: "キーボード入力が軽めです"
    }
  }
}
</script>
